html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Verdana;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

body:before {
    background-image: url("https://i.imgur.com/BiokhGd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: .3;
}

.manageCare,
.app {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

#circle {
    background-color: #AFEEEE;
    height: 300px;
    width: 300px;
    color: black;
    opacity: 5;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 50px;
    border: 4px solid #fff;
    box-shadow: 0 0 0 5px #AFEEEE;
}

.manageCare-title {
    font-size: 30px;
    position: absolute;
    top: 250px;
    left: 72px;
}

.manageCare-intro {
    font-size: 17px;
    position: absolute;
    top: 290px;
    left: 32px;
}

.dashboard-header {
    font-size: 20px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.dashboard-name {
    position: center;
    display: inline;
}

.patient-dashboard {
    color: black;
    height: 24px;
    padding: .875rem 1rem;
    width: 100%;
    border-collapse: collapse;
}

table,
{
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
}

thead>tr,
tbody {
    display: inline;
}

th,
td {
    padding: 10px;
    border: solid 1px;
    text-align: center;
    width: 80px;
    vertical-align: top;
}

.rw-widget>.rw-widget-container {
    width: 30%;
}

.dropdown_customized {
    width: 30%;
    margin-left: 100px;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: solid #AFEEEE 1px;
    margin-top: 60px;
}

#sub-heading {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.sub-header {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
}

.sub-header-link {
    color: #0b2a69;
}

.content-desktop {
    display: none;
}

.link-item {
    margin-top: 15px;
}

.sub-link {
    text-transform: none;
    color: black;
}

.hidden {
    display: inline;
}

@media screen and (min-width: 768px) {
    .content-desktop {
        display: block;
    }
    #courses-links,
    #how-it-works-links {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }
    .link-item {
        width: 125px;
        text-align: center;
    }
    .hidden {
        display: none !important;
    }
}

@keyframes manageCare-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}