    html,
    body {
        padding: 0;
        margin: 0;
        height: 100%;
        font-family: Verdana;
    }
    
    .clearfix:before,
    .clearfix:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    
    .clearfix:after {
        clear: both;
    }
    
    body:before {
        background-image: url("https://i.imgur.com/BiokhGd.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        opacity: .3;
    }
    
    .manageCare,
    .app {
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }
    
    .manage-care-header {
        padding: 60px;
    }
    
    #circle {
        background-color: #F5C8BD;
        display: table-cell;
        height: 300px;
        width: 300px;
        color: black;
        opacity: 5;
        padding: 10px;
        border-radius: 50%;
        margin-left: 20px;
        margin-top: 50px;
        border: 4px solid #fff;
        box-shadow: 0 0 0 5px #F5C8BD;
        text-align: center;
        vertical-align: middle;
        font-size: 40px;
        font-family: Verdana;
    }
    
    .patient-dashboard {
        margin: auto;
        padding: 30px;
    }
    
    .dashboard-content {
        background-color: #FFEBB7;
        padding: 20px;
        border: 1px solid #BBBBBB;
        border-radius: 15px;
    }
    
    .dashboard-header {
        font-size: 20px;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    
    .dashboard-name {
        position: center;
        display: inline;
    }
    
    .dashboard-button {
        text-align: left;
        margin-left: 100px;
        margin-bottom: 30px;
    }
    
    .add-med-button {
        border-radius: 15px;
        width: 120px;
        height: 40px;
        background: #D3D3D3;
        margin-right: 30px;
    }
    
    .rem-med-button {
        border-radius: 10px;
        background: #D3D3D3;
    }
    
    .back-to-patient-list {
        border-radius: 15px;
        width: 160px;
        height: 40px;
        background: #D3D3D3;
        margin-right: 30pxo;
    }
    
    .add-med-form {
        /* max-width: 1200px; */
        /* width: 80%; */
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .add-med-form * {
        box-sizing: border-box;
    }
    
    .add-med-outer {
        list-style-type: none;
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
        background-color: #FFEBB7;
        border: 1px solid #BBBBBB;
    }
    
    .add-med-outer li,
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .add-med-outet>li:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .add-med-outer>li>label,
    .add-med-outer li p {
        flex: 1 0 120px;
        max-width: 220px;
        font-size: 20px;
    }
    
    .add-med-outer>li>label+* {
        padding: 15px;
        border: none;
    }
    
    .add-med-outer li input:not([type='checkbox']),
    .add-med-outer li textarea {
        padding: 15px;
        border: 1px solid #BBBBBB;
        width: 260px;
    }
    
    .add-med-outer li button {
        margin-left: auto;
        padding: 8px 16px;
        border: none;
        background-color: #D3D3D3;
        color: black;
        text-transform: uppercase;
        letter-spacing: .09em;
        border-radius: 2px;
        border-radius: 15px;
        width: 120px;
        height: 40px;
        background: #D3D3D3;
        border: 1px solid #BBBBBB;
    }
    
    .medication-table {
        color: black;
        padding: .875rem 1rem;
        border-collapse: collapse;
        margin: 20px auto;
        display: inline;
        table-layout: auto;
    }
    
    .patient-list {
        min-width: 160px;
        list-style: none;
        margin: auto;
        width: 70%;
        padding: 20px;
    }
    
    th {
        background-color: #5C636E;
        color: white;
    }
    
    th,
    td {
        padding: 10px;
        border: solid 1px;
        text-align: center;
        width: 80px;
        vertical-align: top;
    }
    
    .rw-widget>.rw-widget-container {
        width: 40%;
    }
    
    .dropdown_customized {
        width: 30%;
        margin-left: 100px;
    }
    
    .navbar-top {
        display: flex;
        width: 100%;
        height: 150px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border-bottom: solid #AFEEEE 1px;
        margin-top: 60px;
        background-color: #70D4B4;
    }
    
    .nav-components {
        list-style-type: none;
        /* text-align: center; */
        padding: 0;
        margin: 20px;
    }
    
    .nav-bar-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-end;
        background-color: #BBBBBB;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .nav-bottom-column1,
    .nav-bottom-column2,
    .nav-bottom-column3 {
        display: flex;
        flex-direction: column;
        justify-content: spaced-evenly;
        align-items: center;
        align-content: flex-start;
        width: 400px;
        height: 350px;
        background-color: #FFEBB7;
        border: 1px solid #BBBBBB;
        border-radius: 15px 15px;
        flex: 0 1 auto;
        margin: auto;
        text-align: center;
    }
    /* .nav-bottom-column1 {
        background-image: url("https://i.imgur.com/BiTygUQ.jpg");
    } */
    
    .nav-bottom-heading {
        font-size: 22px;
        word-wrap: break-word;
        margin-left: auto;
        margin-right: auto;
        text-decoration: underline;
    }
    
    .nav-bottom-list {
        text-align: left;
    }
    
    .nav-bottom-info {
        margin-left: auto;
        margin-right: auto;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding: 10px;
        font-size: 18px;
    }
    
    .sub-component {
        display: inline-block;
        text-transform: uppercase;
        padding: 15px;
        /* border-radius: 20px;
    width: 120px;
    height: 8px;
    background: #AFEEEE;
    border: 20px;
    text-align: center;
    vertical-align: middle; */
    }
    
    .sub-header-link {
        color: #0b2a69;
        font-weight: bold;
        font-size: 18px;
    }
    
    .content-desktop {
        display: none;
    }
    
    .link-item {
        margin-top: 15px;
    }
    
    .sub-link {
        text-transform: none;
        color: black;
    }
    
    .hidden {
        display: inline;
    }
    
    @media screen and (min-width: 768px) {
        .content-desktop {
            display: block;
        }
        #courses-links,
        #how-it-works-links {
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
        }
        .link-item {
            width: 125px;
            text-align: center;
        }
        .hidden {
            display: none !important;
        }
    }
    
    @keyframes manageCare-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }